@import url("https://fonts.googleapis.com/css?family=Monoton");

html,
body {
  height: 100%;
}

h1 {
  font-family: "Monoton";
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
